<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>AirBnB</title>
		<link rel="stylesheet" href="../static/styles/4-common.css">
		<link rel="stylesheet" href="../static/styles/3-header.css">
		<link rel="stylesheet" href="../static/styles/3-footer.css">
		<link rel="stylesheet" href="../static/styles/6-filters.css">
		<link rel="stylesheet" href="../static/styles/8-places.css">
		<link rel="icon" type="image/png" href="../static/images/icon.png">
	</head>

	<body>
		<header>
  	</header>

		<div class="container">
			<section class="filters">
				<div class="locations">
					<h3>States</h3>
					<h4>&nbsp;</h4>
					<ul class="popover">
						{% for state in states.values()|sort(attribute='name') %}
						<li class="states"><h2>{{ state.name }}</h2>
							<ul class="cities">
								{% for city in state.cities|sort(attribute='name') %}
								<li>{{ city.name }}</li>
								{% endfor %}
							</ul>
						</li>
						{% endfor %}
					</ul>
				</div>
				<div class="amenities">
					<h3>Amenities</h3>
					<h4>&nbsp;</h4>
					<ul class="popover">
					{% for amenity in amenities.values()|sort(attribute='name') %}
						<li>{{ amenity.name }}</li>
					{% endfor %}
					</ul>
				</div>
				<button type="submit">Search</button>
			</section>

			<section class="places">
				<h1>Places</h1>
				<article>
					<h2>Cabin</h2>
					<div class="price_by_night">$80</div>
					<div class="information">
						<div class="max_guests">
							<div class="guest_icon icon"></div>
							<p>4 guests</p>
						</div>
						<div class="number_rooms">
							<div class ="room_icon icon"></div>
							<p>2 bedrooms</p>
						</div>
						<div class="number_bathrooms">
							<div class="bath_icon icon"></div>
							<p>1 bathroom</p>
						</div>
					</div>
					<div class="user">
						<p><strong>Owner:</strong> Freddy Kruger</p>
					</div>
					<div class="description">
						<p>Get lost (but not too lost) in our forest-chic hideaway! It's like camping for grown-ups, minus the bears and soggy sleeping bags. Embrace your inner lumberjack or lumberjill while sipping cocoa by the fire.</p>
					</div>
				</article>

				<article>
					<h2>Tiny house</h2>
					<div class="price_by_night">$65</div>
					<div class="information">
						<div class="max-guests">
							<div class="icon guest_icon"></div>
							<p>2 guests</p>
						</div>
						<div class="number-rooms">
							<div class="icon room_icon"></div>
							<p>1 bedrooms</p>
						</div>
						<div class="number-bathrooms">
							<div class="icon bath_icon"></div>
							<p>1 bathroom</p>
						</div>
					</div>
					<div class="user">
						<p><strong>Owner:</strong> John Doe</p>
					</div>
					<div class="description">
						<p>Experience big city living in our charming tiny townhouse! Don't let the size fool you; this compact gem packs a punch with modern amenities and cozy spaces. Perfect for solo travelers or couples, it's like a cozy cocoon in the heart of the city.</p>
					</div>
				</article>

				<article>
					<h2>A suite</h2>
					<div class="price_by_night">$150</div>
					<div class="information">
						<div class="max-guests">
							<div class="icon guest_icon"></div>
							<p>4 guests</p>
						</div>
						<div class="number-rooms">
							<div class="icon room_icon"></div>
							<p>2 bedrooms</p>
						</div>
						<div class="number-bathrooms">
							<div class="icon bath_icon"></div>
							<p>1 bathroom</p>
						</div>
					</div>
					<div class="user">
						<p><strong>Owner:</strong> Jane Doe</p>
					</div>
					<div class="description">
						<p>With spacious living areas, a private dining room, and a panoramic view of the city skyline, you'll feel like you're on top of the world. Impeccably appointed with the finest furnishings, and a dedicated concierge at your service, every moment in this suite is designed to exceed your expectations.</p>
					</div>
				</article>
			</section>
		</div>

		<footer>
			<p>Best School</p>
		</footer>
	</body>
</html>
